@charset "UTF-8";
@import "reset.css";

/* https://via.placeholder.com/1920x1080 */

:root {
	--background-rgb: 246, 246, 246;
	--foreground-rgb: 0, 0, 0;
	--text-primary-rgb: 0, 0, 0;
	--text-secondary-rgb: 255, 255, 255;
	--nav-background-rgb: 254, 254, 254;

	--btn-bg-responsive-rgb: 0, 0, 0;
	--btn-bg-responsive-alt-rgb: 200, 200, 200;

	/* Constant */
	--bg-primary-rgb: 65, 105, 225; /* royalblue */
	--bg-secondary-rgb: 128, 128, 128; /* gray */
	--bg-tertiary-rgb: 255, 165, 0; /* orange */
	--bg-warning-rgb: 255, 255, 0; /* yellow */
	--bg-danger-rgb: 255, 0, 0; /* red */
}

[data-theme="dark"] {
	--background-rgb: 12, 9, 18; /* #0c0912 */
	--foreground-rgb: 246, 246, 246;
	--text-primary-rgb: 255, 255, 255;
	--text-secondary-rgb: 0, 0, 0;
	--nav-background-rgb: 29, 22, 44; /* #1d162c */

	--btn-bg-responsive-rgb: 246, 246, 246;
	--btn-bg-responsive-alt-rgb: 100, 100, 100;

}

* {
	box-sizing: border-box;

	transition: color 0.5s ease;
	transition: background-color 0.5s ease;

	-moz-transition: color 0.5s ease;
	-moz-transition: background-color 0.5s ease;

	-webkit-transition: color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;

	-o-transition: color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}

.preload * {
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}





body {
	background-color: rgb(var(--background-rgb));
	color: rgb(var(--text-primary-rgb));
	text-align: center;
	font-family: 'Poppins', sans-serif;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	background-color: rgb(var(--nav-background-rgb));
	padding: 1em;
}

#wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1 1 0;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	row-gap: 2em;
	font-size: larger;
	width: min(1600px, 100%);
}

#banner {
	background: url('../images/banners/john-lennon.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20em;
}

#banner h1 {
	color: white;
	font-size: 2em;
	text-shadow: 0 0 2em black, 0 0 2em black, 0 0 2em black, .25em .25em .5em black;
}

#top-nav {
	background-color: rgb(var(--nav-background-rgb));
	width: 100%;
}

#top-nav > div {
	display: flex;
	align-items: center;
	height: 3em;
	margin: auto;
	width: min(1600px, 100%);
}

#top-nav a {
	margin-left: 0.5em;
}

#top-nav p {
	font-size: x-large;
	margin: 0 3em 0 3em;
}

.easter-egg:hover {
	-moz-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: help;
}

#top-nav a:last-child {
	margin-left: auto;
	margin-right: 0.5em;
}

.bg-primary {
	background-color: rgb(var(--bg-primary-rgb));
	color: white;
}

.bg-secondary {
	background-color: rgb(var(--bg-secondary-rgb));
	color: white;
}

.bg-tertiary {
	background-color: rgb(var(--bg-tertiary-rgb));
	color: white;
}

.bg-warning {
	background-color: rgb(var(--bg-warning-rgb));
	color: white;
}

.bg-danger {
	background-color: rgb(var(--bg-danger-rgb));
	color: white;
}

.btn {
	background-color: rgb(var(--btn-bg-responsive-rgb));
	color: rgb(var(--text-secondary-rgb));
	text-decoration: none;
	padding: .5em;
	border-radius: .25em;
}

.btn:hover {
	background-color: rgb(var(--btn-bg-responsive-alt-rgb));
	color: rgb(var(--text-primary));
	cursor: pointer;
}

#socials a {
	color: rgb(var(--foreground-rgb));
	line-height: 2em;
	text-decoration: none;
	margin: 0 .5em .5em .5em;
	transition: color 0.5s ease;
}

#socials a:hover {
	cursor: pointer;
}

#socials a.fa-github:hover {
	color: #6e5494;
}

#socials a.fa-discord:hover {
	color: #5865f2;
}

#socials a.fa-youtube:hover {
	color: #ff0000;
}

#socials > h3 {
	font-size: x-large;
}

.flex-row {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: justify;
	gap: 3em;
}

.flex-col {
	max-width: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.scroll-hidden {
	opacity: 0;
}

footer div:last-child {
	margin: .5em;
	font-size: small;
}

body {
    background-image: url(resources/images/dinner-cheap-lodging-house-g-sal-c13856-84.jpg);
	background-blend-mode: soft-light;
    background-size: cover;

}
p1{
	color: transparent ;
}

